* {
    color-light-green: #5CDB95;
    color-dark-green: #379683;
    color-light-blue: #c5d2e8;
    color-blue: #05386B;
    color-white: #ecf2f6;
    color-grey: #dfe3e6;
}

.scroll-pane .viewport {
    -fx-background-color: color-white;
}
.messenger-window {
    -fx-background-color: color-white;
}
.user-pane {
    -fx-background-color: color-white;
    -fx-border-color: transparent color-blue transparent transparent;
}
#usersListView {
    -fx-background-color: color-white;
    -fx-border-width: 1 1 0 0;
    -fx-border-color: color-blue color-blue transparent transparent;
    -fx-text-fill: color-blue;
    -fx-padding: 0;
}
#usersListView .list-cell {
    -fx-background-color: color-white;
    -fx-font-size: 14px;
    -fx-padding: 15px;
}
#usersListView .list-cell:hover {
    -fx-background-color: color-light-blue;
}
#usersListView .list-cell:empty {
    visibility: hidden;
}
#usersListView .scroll-bar:horizontal {
    -fx-scale-x: 0;
}
#usersListView .scroll-bar .thumb {
    -fx-background-color: color-blue;
}
#usersListView .scroll-bar .increment-button ,
#usersListView .scroll-bar .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
#usersListView  .scroll-bar .increment-arrow,
#usersListView  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.chat-box {
    -fx-background-color: color-white;
    -fx-padding: 15px;
}

.public-msg-box, .private-msg-box {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.private-msg-box {
    -fx-background-color: green;
}
.public-msg-box {
    -fx-background-color: color-blue;
}
.img-message-pane {
    -fx-background-color: color-blue;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.msg-sender, .msg-text, .msg-time {
    -fx-text-fill: color-white;
}
.msg-sender {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.msg-text {
    -fx-font-size: 15px;
}
.msg-time {
    -fx-font-size: 10px;
    -fx-alignment: TOP_RIGHT;
}

#chooseImageBtn {
    -fx-cursor: hand;
    -fx-opacity: 0.6;
    -fx-background-color: color-white;
}
#chooseImageBtn:hover {
    -fx-opacity: 1;
}

.notification-lbl {
    -fx-border-color: color-blue;
    -fx-background-radius: 10px;
    -fx-text-fill: color-blue;
    -fx-padding: 5px 10px;
}

.kebab-menu > .arrow-button {
    -fx-padding: 0;
}

.kebab-menu > .arrow-button > .arrow {
    -fx-padding: 0;
}
.kebab-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.kebab-menu:hover {
    -fx-background-color: color-grey;
}